.dingdan-menu{
    position: relative;
    font-size: 0;
    line-height: 1;
    border-bottom: 3px solid #ddd;
}
.dingdan-menu a{
    display: inline-block;
    vertical-align: top;
    padding: 0 28px 12px;
    font-size: 16px;  
    color: #333;
}
.dingdan-menu a:hover{
    color: #f60;
}
.dingdan-menu .color-f60{
    color: #f60;
}
.dingdan-menu span{
    font-size: 16px;
}
.hengxian{                          /* 横线的css */
    position: absolute;
    top: 28px;
    left: 0;
    width: 107px;
    height: 2px;
    background: #f60;
}
.text{                  /* 点评的说明 */
    font-size: 12px;
    color: #666;
    line-height: 30px;
    background: #fffbf6;
    border: 1px solid #f5debf;
    padding-left: 12px;
    margin: 19px 7px 19px 5px;
}
.text span{
    color: #333;
}
.dp-list{
    margin-left: 5px;
    font-size: 0;
}
.dp-box{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 304px;
    height: 279px;
    border: 1px solid #ddd;
    background: #fff;
    margin: 0 20px 20px 0;
}
.dp-box:nth-child(3n){
    margin-right: 0;
}
.dp-box img{
    width: 304px;
    height: 179px;
}
.dp-box-content{                    /* 点评图片下面部分 */
    padding:11px 12px 0 12px;
    line-height: 1;
}
.dp-box .title{
    display: block;
    font-size: 14px;
    color: #3b83cb;
    margin-bottom: 10px;
}
.dp-box .check-in{              /* 入住时间 */
    font-size: 12px;
    color: #999;
    margin-bottom: 14px;
}
.dp-box .btn-fail{              /* 超过点评时间的按钮 */
    width: 87px;
    height: 28px;
    border: none;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    background: #ccc;
    cursor: not-allowed;
}
.dp-box .a_fbdp{
    display: inline-block;
    width: 87px;
    height: 28px;
    color: #fff;
    text-align: center;
    background: #f60;
    font-size: 12px;
    line-height: 28px;
    border-radius: 3px;
}
.dp-box .icon{
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    background: url(../images/tubiaoji.png) no-repeat -118px -336px;
}
.fail-txt{
    position: relative;
    top: 7px;
    display: inline-block;
    font-size: 12px;
    color: #999;
}
#ydp{                       /* 已点评框的css */
    height: 263px;
}
.dp-box-content p{
    font-size: 12px;
}
.ydp-txt a{
    color: #3b83cb;
}
.ydp-txt a:hover{
    color: #f60;
}
.ydp-txt{
    float: right;
}
.ydp-txt .fengexian{
    margin: 0 8px;
}