.content{
    background: #f8f8f8;
}
.content-top{
    line-height: 43px;
    font-size: 12px;
}
.content-top span{
    margin: 0 7px;
    color: #ccc;
}
.content-top a{
    color: #000;
} 
.left-content{
    width: 200px;
}
.left-content-list>li{
    overflow: hidden;
    position: relative;
}
.left-content{
    width: 200px;
    border-top: 1px solid #f60;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
.one-list{                  /* 左边用户资料开始 */
    position: relative;
    padding: 15px 0 15px 85px;
    line-height: 20px;
    color: #333;
    font-size: 12px;
}
.userimg{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 12px;
}
.userimg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.xm{
    font-size: 14px;
}
.one-list a{
    color: #2e7dcd;
}
.one-list{
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
}                                        /* 左边用户资料结束 */
.content-title{                     
    line-height: 40px;
    padding-left: 12px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
    color: #333;;
}
.content-menu{
    line-height: 30px;
    padding: 6px 0 5px 43px;
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
    font-size: 12px;
}
.content-menu a{
    color: #666;
}
.content-menu .color-f60{           /* 订单管理的颜色 */
    color: #f60;
}
.list-icon{                         /* 左边列表的小图标 */
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    width: 17px;
    height: 19px;
    background: url(../images/chaozhi.png) no-repeat -193px -280px;
}
.wdzc{
    background: url(../images/chaozhi.png) no-repeat -193px -393px;
}
.grzx{
    background: url(../images/chaozhi.png) no-repeat -193px -656px;
}
.yqytc{
    background: url(../images/chaozhi.png) no-repeat -193px -889px;
}
.ywyh{
    background: url(../images/chaozhi.png) no-repeat -193px -973px;
}
a:hover{
    color: #f60;
}  
.right-content{
    width: 970px;
}
.dingdan-menu{
    position: relative;
    font-size: 0;
    line-height: 1;
    border-bottom: 3px solid #ddd;
}
.dingdan-menu a{
    display: inline-block;
    vertical-align: top;
    padding: 0 28px 12px;
    font-size: 16px;  
    color: #333;
}
.dingdan-menu .color-f60{
    color: #f60;
}
.dingdan-menu span{
    font-size: 16px;
}
.hengxian{
    position: absolute;
    top: 28px;
    left: 0;
    width: 107px;
    height: 2px;
    background: #f60;
}
.text{
    font-size: 12px;
    color: #666;
    line-height: 30px;
    background: #fffbf6;
    border: 1px solid #f5debf;
    padding-left: 12px;
    margin: 19px 0 19px 5px;
}
.text span{
    color: #333;
}
.dp-box{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 304px;
    height: 279px;
    border: 1px solid #ddd;
}
.dp-box img{
    width: 304px;
    height: 179px;
}
.dp-box-content{
    padding:11px 0 0 12px;
    line-height: 1;
}
.dp-box .title{
    display: block;
    font-size: 14px;
    color: #3b83cb;
    padding-bottom: 10px;
}
.dp-box .check-in{
    
    font-size: 12px;
    color: #999;
    margin-bottom: 14px;
}
.dp-box .btn{
    display: inline-block;
    width: 87px;
    height: 28px;
    background: #f60;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    border-radius: 3px;
}


/* 
.right-content{
    margin-left: 20px;
    width: 970px;
}


.dppiece{
    float: left;
    width: 304px;
    height: 279px;
    border: 1px solid #ddd;
    margin-left: 20px;
    margin-bottom: 20px;
}
.dppiece:first-child,.dppiece:nth-child(4){
    margin-left: 5px;
}
.dppiece .icon{
    height: 179px;
}
.dppiece img{
    width: 100%;
    height: 100%;
}
.dpbot{
    padding: 0 12px 0;
    line-height: 1;
}
.dpbot h3{
    font-size: 14px;
    color: #3b83cb;
    padding: 12px 0;
}
.dpbot p{
    font-size: 12px;
    color: #999;
    margin-bottom: 13px;
}
.dpbot .btn{
    line-height: 28px;
    position: relative;
    font-size: 12px;
}
.btn a{
    display: inline-block;
    float: left;
    width: 87px;
    color: #fff;
    background: #f60;
    border-radius: 3px;
    text-align: center;
}
.btn .icon{
    width: 14px;
    height: 14px;
    background: url(../images/chaozhi.png) no-repeat -484px -489px;
    position: absolute;
    top: 7px;
    right: 113px;
}
.fail a{
    background: #999;
}
.dpfinish{
    line-height: 28px;
    font-size: 12px;
    color: #999;
    padding-right: 20px;
}
.dpfinish a{
    color: #3b83cb;
}
.page p{
    padding: 0 10px;
    font-size: 12px;
    line-height: 26px;
    border: 1px solid #ddd;
}
.page a{
    color: #999;
}
.page div:nth-child(2){
    border: 1px solid #f60;
    margin: 0 8px;
    color: #f60;
    line-height: 26px;
    padding: 0 9px;
}
.page{
    padding: 6px 0 67px;
}
 */