.content{
    background: #f8f8f8;
    padding-bottom: 79px;
}
.content-top{
    line-height: 43px;
    font-size: 12px;
}
.content-top span{
    margin: 0 7px;
    color: #ccc;
}
.content-top a{
    color: #000;
}   
.top-content{
    border: 1px solid #ddd;
    padding: 20px;
    background: #fff;
    font-size: 0;
} 
.top-content img{
    padding-right: 20px;
}
.top-content ul{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 25px;
}
.top-content .title{
    font-size: 18px;
    margin-bottom: 7px;
}
.top-content .title a{
    color: #3b83cb;
}
.dizhi{                             /* 地址的间隔符 */
    letter-spacing: 2em;
}
.ruzhu{                             /* 入住人的间隔符 */
    letter-spacing: 6px;
}
.bot-content{
    padding: 0 30px;
    margin-top: 20px;
    border: 1px solid #ddd;
    background: #fff;
    color: #333;
    font-size: 14px;
}
.first-low li,.lside,.rside{
    display: inline-block;
    vertical-align: top;
}
.first-low,.second-low,.three-low{
    border-bottom: 1px solid #ddd;
    padding: 26px 0;
}
.first-low,.second-low .rside{
    font-size: 0;
}
.first-low li{
    font-size: 14px;
}
.first-low>li:first-child,.lside{
    font-size: 16px;
}
.first-low>li:last-child{
}
.second-low .rside p{
    font-size: 14px;
    line-height: 24px;
}
.rside{
    width: 940px; 
}
.rside img{
    margin: 15px 12px 4px 0;
}
.three-low{
    border-bottom: none;
}

