.content{
    background: #f8f8f8;
}
.content-top{
    line-height: 43px;
    font-size: 12px;
}
.content-top span{
    margin: 0 7px;
    color: #ccc;
}
.content-top a{
    color: #000;
}                       /* end-content-top */
.title a{
    font-size: 24px;
    color: #3b83cb;
}
.back{
    color: #333;
    font-size: 14px;
    line-height: 29px;
}
.back a{
    font-size: 12px;
    color: #3b83cb;
}
.container-top{
    display: table;
    border: 1px solid #ddd;
    width: 100%;
}
.container-top .left-side{
    width: 422px;
    font-size: 0;
}
.container-top .mid-side{
    padding: 20px;
    font-size: 12px;
    color: #333;
}
.mid-side ul{
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.mid-side li+li{
    border-left: 1px dotted #ddd;
}
.mid-side li{
    display: inline-block;
    vertical-align: top;
    width: 101px;
    text-align: center;
}
.mid-side li:first-child{
    width: 93px;
}
.mid-side li:last-child{
    width: auto;
}
.big{
    font-size: 40px;
}
.mid-side .icon{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 20px;
    margin: 0 3px 0 28px;
    background: url(../images/chaozhi.png) no-repeat -193px -453px;
}
.mid-side .icon:first-child{
    margin-left: 20px;
}
.container-top .mid-side,.container-top .right-side,.container-top .left-side{
    display: table-cell;
    vertical-align: top;
}

.container-top .right-side{
    width: 216px;
    font-size: 12px;
    text-align: center;
    padding-top: 18px;
}
.right-side a{
    display: block;
    margin: 8px auto;
    width: 119px;
    line-height: 26px;
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
}
.right-side-icon{
    display: inline-block;
    vertical-align: middle;    
    width: 17px;
    height: 17px;
    margin-right: 9px;
    background: url(../images/chaozhi.png) no-repeat -193px -319px;
}
.right-side .pay{
    color: #fff;
    background: #f60;
    font-size: 18px;
    width: 168px;
    line-height: 36px;
    margin: 12px auto 6px;
}
.fs-14{                             /* 未付款的14号字体 */
    font-size: 14px;
}
.color-f60{                         /* 付款剩余时间的颜色 */
    color: #f60;
}
/* 


.backorder{
    overflow: hidden;
    line-height: 36px;
}
.center-top{
    border: 1px solid  #ddd;
}
.room-img{
    width: 422px;
    height: 261px;
    font-size: 0;
    overflow: hidden;
}
.text-center{
    background: #fff;
    width: 550px;
    height: 261px;
}
.tablebox{
    margin: 0 20px 0 21px;
    padding: 20px 0;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
}
.topcontent-mid{
    line-height: 12px;
}
.topcontent-mid td:first-child{
    width: 93px;
}
.topcontent-mid td:nth-child(2){
    width: 101px;
}
.topcontent-mid td:nth-child(3){
    width: 101px; 
}
.topcontent-mid td:nth-child(4){
    width: 211px;
}
.topcontent-mid tr:first-child{
    font-size: 12px;
    color: #999; 
}
.topcontent-mid tr:nth-child(2){
    font-size: 40px;
    color: #333;
}
.topcontent-mid tr:nth-child(2) p{
    line-height: 50px;
}
.topcontent-mid tr:nth-child(2) span{
    font-size: 12px;
    line-height: 12px;
}
.topcontent-mid tr:nth-child(2) td:nth-child(4){
    color: #f30;
}
tr:nth-child(2) td:nth-child(4) span{
    font-size: 16px;
    line-height: 18px;
}
.topcontent-mid tr:nth-child(3){
    font-size: 12px;
}
.topcontent-mid tr:nth-child(4){
    font-size: 12px;   
}
.topcontent-mid tr:nth-child(4) p{
    margin: 4px 0 0;
}
.topcontent-mid a{
    color: #3b83cb;
}
td+td{
    border-left: 1px dotted #f1f1f1;
}
.text-center .icon{
    width: 17px;
    height: 18px;
    background: url(../images/chaozhi.png) no-repeat -193px -453px;
}
.text-center>p{
    padding: 20px 0 17px 21px;
    color: #333;
    font-size: 12px;
}
.text-center>p>span{
    color: #999;
}
.text-center>p>span:first-child{
    padding-left: 22px;
}
.text-center>p>span:nth-child(2){
    padding-left: 46px;
}
.text-center li{
    padding-left: 30px;
    font-size: 12px;
    line-height: 18px;
    color: #333;
}
.text-center li:first-child{
    padding-left: 20px;
    margin-right: -8px;
}
.text-right{
    width: 216px;
    font-size: 12px;
    text-align: left;
}
.text-right a{
    color: #333;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    display: block;
}
.text-right a:hover{
    border: 1px solid #ffa111;
}
.text-right li{
    width: 119px;
    margin: 8px auto 0;   
}
.text-right p{
    line-height: 26px;
}
.text-right li:first-child{
    line-height: 14px;
    margin-top: 20px;
}
.text-right .icon{
    width: 14px;
    height: 15px;
    margin: 6px 10px 6px 19px;  
}
.text-right li:nth-child(6){
    font-size: 18px;
    width: 166px;
    height: 34px;
    line-height: 34px;
    margin-top: 12px;
}
.text-right li:nth-child(6) a{
    color: #fff;
    display: block;
    background: #f60;
}
.text-right li:nth-child(6) a:hover{
    background: #f90;
}
.text-right li:nth-child(7){
    color: #f60;
}
.text-right li:first-child,.text-right li:nth-child(6),.text-right li:nth-child(7){
    text-align: center;
}
.text-right li:first-child,.text-right li:nth-child(7){
    border: none;
}
.text-right li:nth-child(2) .icon{
    background: url(../images/chaozhi.png) no-repeat -193px -319px;
}
.text-right li:nth-child(3) .icon{
    background: url(../images/chaozhi.png) no-repeat -193px -343px;
}
.text-right li:nth-child(4) .icon{
    background: url(../images/chaozhi.png) no-repeat -193px -370px;
}
.text-right li:nth-child(5) .icon{
    background: url(../images/chaozhi.png) no-repeat -193px -427px;
}
.roomtable{
    margin-top: 20px;
    border: 1px solid #ddd;
    background: #fff;
}
.roomtable>div{
    margin: 31px 30px 0 30px;
    border-bottom: 1px solid #ddd;
}
.roomtable>div:last-child{
    border-bottom: none;
}
.roomtable h3{
    width: 169px;
    font-size: 16px;
    line-height: 16px;
    color: #333;
}
.roomtable-mid,.roomtable-right{
    width: 90px;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}
.roomtable-mid li,.roomtable-right li{
    padding-bottom: 14px;
}
.roomtable-mid li:last-child,.roomtable-right li:last-child{
    padding-bottom: 31px;
}
.roomtable-right{
    width: auto;
}
.add{
    width: 12px;
    height: 16px;
    margin: 0 3px 0 10px;
    background: url(../images/chaozhi.png) no-repeat -737px -658px;
}
.bulle,.roomtable-right a{
    color: #3b83cb;
}
.message{
    width: 16px;
    height: 16px;
    margin: 0 3px 0 10px;
    background: url(../images/chaozhi.png) no-repeat -722px -883px;
}
.usecar{
    margin: 20px 0 48px 0;
    border: 1px solid #ddd;
    background: #fff;  
}
.usecar h2{
    font-size: 16px;
    line-height: 16px;
    color: #333;
    margin: 31px 0 36px 30px;
}.usecar>ul{
    margin-left: 30px;
}
.ordercar{
    position: relative;
    padding: 0 28px 0 20px;
    margin-bottom: 32px;
}
.ordercar>ul>li{
    width: 84px;
}
.usecar>ul>li+li{
    border-left: 1px dotted #f1f1f1;
}
.ordercar>ul{
    margin-left: 94px;
    color: #333;
    font-size: 12px;
    line-height: 23px;
}
.ordercar>ul>li:first-child{
    font-size: 14px;
}
.car{
    position: absolute;
    top: 0px;
    left: 21px;
    width: 78px;
    height: 59px;
    background: url(../images/qichetu.png) no-repeat;
}
.ordercar>div{
    font-size: 12px;
}
.ordercar span{
    color: #f60;
}
.artpart{
    color: #6699cc;
}
.yuding{
    display: inline-block;
    width: 43px;
    height: 20px;
    line-height: 20px;
    background-color: #6699cc;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    margin-right: 40px;
}
 */