.left-content,.right-content{
    float: left;
}
.orderlist{
    background-color: #f8f8f8;
    line-height: 43px;
    
}
.orderlist span{
    margin: 0 8px;
    color: #ccc;
}
.orderlist a{
    font-size: 12px;
    color: #000;
}
.left-content{
    width: 200px;
}
.left-content-list>li{
    overflow: hidden;
    position: relative;
}
.userimg{
    width: 60px;
    height: 60px;
    border-radius: 50% 50%;
    background: url(../images/touxiang.png) no-repeat;
    margin: 15px 12px;
    float: left;
}
.userimg+ul{
    float: left;
    margin-top: 20px;
    margin-bottom: 18px;
}
.userimg+ul li:first-child{
    font-size: 14px;
}
.userimg+ul li+li{
    font-size: 12px;
}
.left-content-list{
    border: 1px solid #f1f1f1;
    border-top: 1px solid #f60;
}
.left-content-list-title{
    border: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    background: #f8f8f8;
}
.left-content-list-title>div{
    position: absolute;
    top:12px;
    left: 12px;
    width: 17px;
    height: 17px;
    background: url(../images/chaozhi.png) no-repeat -193px -280px;
}
.left-content-list li:nth-child(4) div{
    background: url(../images/chaozhi.png) no-repeat -193px -393px;
}
.left-content-list li:nth-child(6) div{
    background: url(../images/chaozhi.png) no-repeat -193px -656px;
}
.left-content-list li:nth-child(8) div{
    background: url(../images/chaozhi.png) no-repeat -193px -889px;
}
.left-content-list li:nth-child(10) div{
    background: url(../images/chaozhi.png) no-repeat -193px -973px;
}
.left-content-list-title>p{
    margin-left: 43px;
    line-height: 41px;
}
.left-content-list-menu{
    border-top: 1px solid #f1f1f1;
    background: #fff;
}
.left-content-list-menu ul{
    margin:14px 0 14px 43px;
}
.left-content-list-menu li{
    margin: 18px 0;
}
.left-content-list-menu a{
    font-size: 12px;
    color: #666;
}
.left-content-list-menu a:hover{
    color: #f60;
}
.right-content{
    width: 900px;
    overflow: hidden;
    margin-left: 20px;
}
.right-content-orderlist{
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.right-content-orderlist li{
    float: left;
    position: relative;
    margin-bottom: 12px;
}
.right-content-orderlist li+li{
    border-left: 1px solid #ddd;
}
.right-content-orderlist li div{
    width: 104px;
    height: 2px;
    background: url(../images/chaozhi.png) no-repeat -193px -205px;
    position: absolute;
    top: 35px;
    left: 0;
}
.right-content-orderlist a{
    margin: 0 20px 12px 19px;
    font-size: 16px;
    color: #333;
}
.right-content-orderlist a:hover{
    color: #f60;
}
.right-content-allorder>div{
    width: 96px;
    height: 26px;
    float: left;
    margin: 15px 0 12px;
    position: relative;
    border: 1px solid #ddd;
}
.right-content-allorder-icon+p{
    line-height: 26px;
    margin: 0 0 0 12px ;
    font-size: 12px;
    color: #333;
}
.right-content-allorder-icon{
    width: 7px;
    height: 5px;
    position: absolute;
    top:11px;
    left:78px;
    background: url(../images/chaozhi.png) no-repeat -193px -232px;
}
.right-content-allorder>p{
    font-size: 12px;
    color: #666;
    text-align: right;
    padding: 21px 0;
}
.right-content-allorder>p>span{
    color: #f60;
}
table{
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 12px;
}
th:first-child{
    text-align: left;
    padding: 10px 0 10px 14px;
}
tr{
    border: 1px solid #ddd;
}
th{
    background: #f8f8f8;
    text-align: center;
}
td{
    padding: 14px 20px 18px 14px;
    background: #fff;
    text-align: center;
    vertical-align: top;
    border: 1px solid #ddd;
    position: relative;
}
td:first-child{
    width: 248px;
    box-sizing: border-box;
    text-align: left;
}
td:first-child img{
    padding-right: 10px;
}

td:nth-child(6) div{
    width:16px;
    height: 15px;
    position: absolute;
    top:16px;
    left:65px;
    background: url(../images/chaozhi.png) no-repeat -193px -545px;
}
td:last-child p{
    line-height: 29px;
}