.content{
    background: #f8f8f8;
}
.content-top{
    background-color: #f8f8f8;
    line-height: 43px;
    font-size: 12px;
}
.content-top span{
    margin: 0 7px;
    color: #ccc;
}
.content-top a{
    color: #000;
}                       /* end-content-top */
.left-content{
    width: 200px;
    border-top: 1px solid #f60;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
.one-list{                  /* 左边用户资料开始 */
    position: relative;
    padding: 15px 0 15px 85px;
    line-height: 20px;
    color: #333;
    font-size: 12px;
}
.userimg{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 12px;
}
.userimg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.xm{
    font-size: 14px;
}
.one-list a{
    color: #2e7dcd;
}
.one-list{
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
}                                /* 左边用户资料结束 */
.content-title{                     
    line-height: 40px;
    padding-left: 12px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
    color: #333;;
}
.content-menu{
    line-height: 30px;
    padding: 6px 0 5px 43px;
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
    font-size: 12px;
}
.content-menu a{
    color: #666;
}
.content-menu .color-f60{           /* 订单管理的颜色 */
    color: #f60;
}
.list-icon{                         /* 左边列表的小图标 */
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    width: 17px;
    height: 19px;
    background: url(../images/chaozhi.png) no-repeat -193px -280px;
}
.wdzc{
    background: url(../images/chaozhi.png) no-repeat -193px -393px;
}
.grzx{
    background: url(../images/chaozhi.png) no-repeat -193px -656px;
}
.yqytc{
    background: url(../images/chaozhi.png) no-repeat -193px -889px;
}
.ywyh{
    background: url(../images/chaozhi.png) no-repeat -193px -973px;
}
a:hover{
    color: #f60;
}                           /* 左边content结束 */
.right-content{
    width: 970px;
}
.dingdan-menu{
    position: relative;
    font-size: 0;
    line-height: 1;
    border-bottom: 2px solid #ddd;
}
.dingdan-menu a{
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 12px;
    font-size: 16px;  
    color: #333;
}
.dingdan-menu .color-f60{
    color: #f60;
}
.dingdan-menu span{
    font-size: 16px;
}
.hengxian{
    position: absolute;
    top: 28px;
    left: 0;
    width: 104px;
    height: 2px;
    background: url(../images/chaozhi.png) no-repeat -193px -205px;
}
.xllb{                          /* 订单下拉列表开始 */
    position: relative;
}
.btn{
    position: relative;
    width: 97px;
    line-height: 26px;
    border: 1px solid #ddd;
    background: #fff;
    text-align: left;
    padding-left: 12px;
    margin: 20px 0 12px;
}
.btn a{
    display: block;
}
.sjiao{                         /* 下拉列表的橙色三角 */
    position: absolute;
    top: 11px;
    right: 12px;
    width: 0;
    height: 0;
    border-width:4px;
    border-style: solid;
    border-color: #f60 transparent transparent; 
}
.xlcd{
    display: none;
    position: absolute;
    left: 1px;
    top: 35px;
    z-index: 200;  
}
.xlcd a{
    display: block;
    width: 97px;
    line-height: 26px;
    border: 1px solid #ddd;
    background: #fff;
    text-align: left;
    padding-left: 12px;
}
.xllb p{
    float: right;
    font-size: 12px;
    color: #666;
    margin-top: 24px;
}
.xllb p span{
    color: #f60;
}                               /* 订单下拉列表end */
.right-content>table{                          /* 表格开始 */
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-bottom: 14px;
}                                       
.first-low{                     /* 第一行 */
    color: #999;
    line-height: 37px;
    border: 1px solid #ddd;
    border-bottom: none;
}
.first-th{
    color: #333;
    text-align: left;
    padding-left: 12px;
}
.first-td{
    text-align: left;
    padding-right: 23px;
}
.color-blus{
    color: #69c;
}
.color-f60{
    color: #f60;
}
.color-333{
    color: #333;
}
.qx-td{
    position: relative;
}
.qx-icon{
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 18px;
    background: url(../images/chaozhi.png) no-repeat -193px -543px;
}
.qx-icon:hover+.qxms{
    display: block;
}
.qxms{                              /* 取消订单的框架 */
    display: none;
    position: absolute;
    top: 42px;
    left: 1px;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    width: 152px;
    height: 59px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
    text-align: left;
    padding: 7px 0 6px 13px
}
.one-sj,.two-sj,.three-sj,.four-sj{                   /* 取消订单和定金的三角形-开始 */
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent #ddd;
}
.one-sj{                                /* 取消订单的三角形 */
    top: -17px;
    left: 70px;
}
.two-sj{
    top: -16px;
    left: 70px;
    border-color: transparent transparent #fff;
    z-index: 20;
}
.three-sj{                              /* 定金的三角形 */
    top: -16px;
    border-color: transparent transparent #fff;
    left: 47px;
    z-index: 20;
}
.four-sj{
    top: -17px;
    left: 47px;
}                                 /* 取消订单和定金的三角形-结束 */
.qx-icon:hover+.djje{               /* 定金明细开始 */
    display: block;
}
.djje-td{
    position: relative;
}
.djje{
    display: none;
    position: absolute;
    top: 42px;
    right: -24px;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    width: 132px;
    height: 59px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
    text-align: left;
    padding: 7px 0 6px 13px;
}                                   /* 定金明细结束 */
.second-low{                    /* 第二行 */
    border: 1px solid #ddd;
    background: #fff;
    vertical-align: top;
}
.second-low>td+td{
    border-left: 1px solid #ddd;
}
.second-low img{
    float: left;
    padding: 0 10px 0 12px;
}
.second-low>td{
    padding: 14px 0 11px;
}
.second-low td:nth-child(7){
    line-height: 22px;
}
.first-low th:nth-child(2),.first-low th:nth-child(3),.first-low th:nth-child(6),.first-low th:nth-child(7){
    width: 119px;
}
.first-low th:nth-child(4){
    width: 79px;
}
.first-low th:nth-child(5){
    width: 159px;
}
td a{
    color: #3b83cb;
}
.jgmx-td{                       /* 价格明细表开始 */
    position: relative;
}
.jgmx:hover+.jgmx-table{
    display: block;
}
.jgmx-txt{
    font-size: 14px;
    line-height: 36px;
    color: #666;
    background: #f8f8f8;
    padding-left: 11px;
    border: 1px solid #ddd;
    width:397px;
}
.jgmx-table{
    display: none;
    position: absolute;
    top: -10px;
    left: -500px;
    text-align: left;
    line-height: 38px;
    z-index: 100;
    
}
.jgmx-war{
    padding: 12px 12px 12px 11px;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff;
}
.jgmx-table table{
    text-align: left;
    width: 100%;
}
.jgmx-war th:first-child,.jgmx-war td:first-child{
    padding-left: 11px;
}
.jgmx-war th:first-child{
    width: 106px;
}
.jgmx-war th:nth-child(2){
    width: 113px;
}
.jgmx-war th:nth-child(3){
    width: 72px;
}
.jgmx-table th{                 /* 价格明细表第一行的颜色 */
    color: #999;
}
.jgmx-table td{                 /* 价格明细表最后三行的颜色 */
    color: #333;
}
.jgmx-table span{               /* 价格明细表价格的颜色 */
    color: #f60;
}
.text-right{
    text-align: right;
}
.bgc-f8{
    background: #f8f8f8;
}                               /* 价格明细表end */
.btn-pay{                       /* 立即支付的按钮 */
    width: 90px;
    height: 28px;
    background: #f60;
    border: none;
    border-radius: 2px;
    margin: 3px 0;
}
.btn-pay:hover{
    background: #f90;
}
.btn-pay a{
    color: #fff;
}
.page{                              /* 选页 */
    text-align: right;
    font-size: 0;
    margin-bottom: 67px;
}
.page li{
    display: inline-block;
    font-size: 12px;
    line-height: 26px;
    padding: 0 10px;
    border: 1px solid #ddd;
}
.page a{
    color: #999;
}
.page-no{
    border: 1px solid #f60;
    color: #f60;
    margin: 0 8px;
}







