.content{
    background: #f8f8f8;
}
.content-top{
    line-height: 43px;
    font-size: 12px;
}
.content-top span{
    margin: 0 7px;
    color: #ccc;
}
.content-top a{
    color: #000;
}                       /* end-content-top */
.title a{
    font-size: 24px;
    color: #3b83cb;
}
.back{
    color: #333;
    font-size: 14px;
    line-height: 29px;
}
.back a{
    font-size: 12px;
    color: #3b83cb;
}                                   /* 有图的部分开始 */
.container-top{
    display: table;
    border: 1px solid #ddd;
}
.container-top .mid-side,.container-top .right-side,.container-top .left-side{
    display: table-cell;
    vertical-align: top;
}
.container-top .left-side{              /* 去掉间隔 */
    font-size: 0;
}
.container-top .mid-side{
    padding: 20px;
    color: #333;
    background: #fff;
}
.mid-side ul{
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.mid-side li+li{
    border-left: 1px dotted #ddd;
}
.mid-side li{
    display: table-cell;
    font-size: 12px;
    width: 101px;
    text-align: center;
}
.mid-side li:first-child{
    width: 93px;
}
.mid-side li:last-child{
    width: 212px;
}
.big{
    font-size: 40px;
}
.mid-side .icon{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 17px;
    margin: 0 3px 0 28px;
    background: url(../images/chaozhi.png) no-repeat -193px -456px;
}
.mid-side .icon:first-child{
    margin-left: 20px;
}
.mid-side p{
    line-height: 30px;
}
.mid-side p span{
    padding-left: 20px;
}
.mid-side p span:nth-child(2){
    padding-left: 40px;
}                                      
.container-top .right-side{
    width: 216px;
    font-size: 12px;
    text-align: center;
    padding-top: 18px;
}
.container-top .right-side a{
    display: block;
    margin: 8px auto;
    width: 119px;
    line-height: 26px;
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
}
.container-top .right-side a:hover{
    border-color: #ffa011;
}
.container-top .right-side .icon{
    display: inline-block;
    vertical-align: middle;    
    width: 17px;
    height: 17px;
    margin-right: 9px;
    background: url(../images/chaozhi.png) no-repeat -193px -319px;
}
.container-top .right-side .qxdd{                           /* 更改右边图标的位置 */
    background-position: -193px -343px;
}
.container-top .right-side .zcyd{
    background-position: -193px -370px;
}
.container-top .right-side .scdd{
    background-position: -193px -427px;
}
.container-top .right-side .pay{
    color: #fff;
    background: #f60;
    font-size: 18px;
    width: 168px;
    line-height: 36px;
    margin: 12px auto 6px;
}
.right-side .pay:hover{
    background-color: #f90;
}
.fs-14{                             /* 未付款的14号字体 */
    font-size: 14px;
}
.color-f60{                         /* 付款剩余时间的颜色 */
    color: #f60;
}
.color-999{
    color: #999;
}
.jgmx-td{                       /* 价格明细表开始 */
    position: relative;
}
.jgmx{
    color: #3b83cb;
}
.jgmx:hover+.jgmx-table{
    display: block;
}
.jgmx-txt{
    font-size: 14px;
    line-height: 36px;
    color: #666;
    background: #f8f8f8;
    padding-left: 11px;
    border: 1px solid #ddd;
    width:397px;
}
.jgmx-table{
    display: none;
    position: absolute;
    top: -10px;
    left: -500px;
    text-align: left;
    line-height: 38px;
    z-index: 100;
}
.jgmx-war{
    padding: 12px 12px 12px 11px;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff;
}
.jgmx-table table{
    text-align: left;
    width: 100%;
}
.jgmx-war th:first-child,.jgmx-war td:first-child{
    padding-left: 11px;
}
.jgmx-war th:first-child{
    width: 106px;
}
.jgmx-war th:nth-child(2){
    width: 113px;
}
.jgmx-war th:nth-child(3){
    width: 72px;
}
.jgmx-table th{                 /* 价格明细表第一行的颜色 */
    color: #999;
}
.jgmx-table td{                 /* 价格明细表最后三行的颜色 */
    color: #333;
}
.jgmx-table span{               /* 价格明细表价格的颜色 */
    color: #f60;
}
.text-right{
    text-align: right;
}
.bgc-f8{
    background: #f8f8f8;
}                                           /* 价格明细表格结束 */
.container{
    border: 1px solid #ddd;
    background: #fff;
    padding: 0 30px;
    margin: 20px 0;
}
.container-ddxq,.container-glgs,.container-gygz{
    display: table;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 24px 0;
} 
.container-gygz{
    border-bottom: none;
}
.container .left-side,.container .right-side{
    display: table-cell;
    vertical-align: top;
} 
.container .left-side{
    font-size: 16px;
    color: #333;
    width: 170px;
}
.container span{
    display: inline-block;
    width: 90px;
    font-size: 14px;
    color: #333;
}
.container .right-side{
    color: #666;
    font-size: 14px;
    line-height: 30px;
}
.container a{
    color: #3b83cb;
}
.container-ddxq .icon,.container-glgs .icon{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin: 0 3px 0 10px;
}
.container-ddxq .icon{
    background: url(../images/chaozhi.png) no-repeat -733px -658px;
}
.container-ddxq a:hover .icon{
    background: url(../images/add-kefu.png) no-repeat -48px -92px;
}
.container-glgs .icon{
    background: url(../images/chaozhi.png) no-repeat -722px -883px;
}
.container-glgs a:hover .icon{
    background: url(../images/add-kefu.png) no-repeat -51px -223px;
}
.container-bot{
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 30px;
}
.container-bot h3{
    font-size: 16px;
    color: #333;
    margin-top: 25px;
}
.container-bot-list{
    display: inline-block;
    padding: 0 0 0 20px;
    margin: 32px 0;
    font-size: 0;
    width: 196px;
}
.container-bot-list+.container-bot-list{
    border-left: 1px dotted #ddd;
}
.car{
    font-size: 0;
}
.car a{
    font-size: 12px;
    color: #3b83cb;
}
.jieji,.car{
    display: inline-block;
}
.jieji{
    padding-left: 12px;
    font-size: 12px;
    line-height: 22px;
}
.jieji a{
    display: block;
    width: 43px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #69c;
    color: #fff;
}
.fs-14{
    font-size: 14px;
}