.right-content{
    width: 970px;
    text-align: center;
}
.dingdan-menu{
    position: relative;
    font-size: 0;
    line-height: 1;
    border-bottom: 2px solid #ddd;
    text-align: left;
}
.dingdan-menu a{
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 12px;
    font-size: 16px;  
    color: #333;
}
.dingdan-menu a:hover{
    color: #f60;
}
.dingdan-menu .color-f60{
    color: #f60;
}
.dingdan-menu span{
    font-size: 16px;
}
.hengxian{
    position: absolute;
    top: 28px;
    left: 0;
    width: 104px;
    height: 2px;
    background: #f60;
}
.right-content img{
    padding-top: 57px;
} 
