.content{
    background: #f8f8f8;
}
.left-content,.right-content{
    float: left;
}
.orderlist{
    background-color: #f8f8f8;
    line-height: 43px;
    
}
.orderlist span{
    margin: 0 8px;
    color: #ccc;
}
.orderlist a{
    font-size: 12px;
    color: #000;
}
.left-content{
    width: 200px;
}
.left-content-list>li{
    overflow: hidden;
    position: relative;
}
.userimg{
    width: 60px;
    height: 60px;
    border-radius: 50% 50%;
    background: url(../images/touxiang.png) no-repeat;
    margin: 15px 12px;
    float: left;
}
.userimg+ul{
    float: left;
    margin: 16px 0;
}
.userimg+ul li:first-child{
    font-size: 14px;
}
.userimg+ul li+li{
    font-size: 12px;
}
.left-content-list{
    border: 1px solid #f1f1f1;
    border-top: 1px solid #f60;
}
.left-content-list-title{
    border: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    background: #f8f8f8;
}
.left-content-list-title>div{
    position: absolute;
    top:12px;
    left: 12px;
    width: 17px;
    height: 17px;
    background: url(../images/chaozhi.png) no-repeat -193px -280px;
}
.left-content-list li:nth-child(4) div{
    background: url(../images/chaozhi.png) no-repeat -193px -393px;
}
.left-content-list li:nth-child(6) div{
    background: url(../images/chaozhi.png) no-repeat -193px -656px;
}
.left-content-list li:nth-child(8) div{
    background: url(../images/chaozhi.png) no-repeat -193px -889px;
}
.left-content-list li:nth-child(10) div{
    background: url(../images/chaozhi.png) no-repeat -193px -973px;
}
.left-content-list-title>p{
    padding-left: 43px;
    line-height: 40px;
}
.left-content-list-menu{
    border-top: 1px solid #f1f1f1;
    background: #fff;
}
.left-content-list-menu ul{
    padding:5px 0 5px 43px;
}
.left-content-list-menu li{
    line-height: 30px;
}
.left-content-list-menu a{
    font-size: 12px;
    color: #666;
}
.left-content-list-menu a:hover{
    color: #f60;
}
.right-content{
    width: 970px;
    margin-left: 20px;
}
.right-content-orderlist{
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.right-content-orderlist li{
    float: left;
    position: relative;
    margin-top: -4px;
    padding: 0 21px 6px 19px;
}
.right-content-orderlist li+li{
    border-left: 1px solid #ddd;
}
.right-content-orderlist li div{
    width: 104px;
    height: 2px;
    background: url(../images/chaozhi.png) no-repeat -193px -205px;
    position: absolute;
    top: 29px;
    left: 0;
}
.right-content-orderlist a{
    font-size: 16px;
    color: #333;
}
.right-content-orderlist a:hover{
    color: #f60;
}
.right-content-allorder>div{
    width: 96px;
    height: 26px;
    float: left;
    margin-top: 20px;
    position: relative;
    border: 1px solid #ddd;
}
.right-content-allorder-icon+p{
    line-height: 26px;
    margin: 0 0 0 12px ;
    font-size: 12px;
    color: #333;
}
.right-content-allorder-icon{
    width: 7px;
    height: 5px;
    position: absolute;
    top:11px;
    left:78px;
    background: url(../images/chaozhi.png) no-repeat -193px -232px;
}
.right-content-allorder>p{
    font-size: 12px;
    color: #666;
    text-align: right;
    padding: 25px 0 19px;
}
.right-content-allorder>p>span{
    color: #f60;
}

table{
    width: 100%;
    text-align: center;
    font-size: 12px;
}
th:first-child div{
    width: 250px;
    text-align: left;
    box-sizing: border-box;
    padding: 10px 0 10px 14px;
}
th:nth-child(2){
    width: 120px;
}
th:nth-child(3){
    width: 120px;
}
th:nth-child(4){
    width: 80px;
}
th:nth-child(5){
    width: 160px;
}
th:nth-child(6){
    width: 120px;
}
th:nth-child(7){
    width: 120px;
    line-height: 22px;
}
th{
    box-sizing: border-box;
    background: #f8f8f8; 
}
table tr:first-child{
    border: 1px solid #ddd;
    border-bottom: none;
}
td{
    background: #fff;
    padding: 18px 0 16px;
    vertical-align: top;
    border: 1px solid #ddd;
}
td:first-child img{
    margin: 0px 10px 0 12px;
}
td:first-child p{
    text-align: left;
    padding-right: 15px;
}
.table-list{
    margin-bottom: 14px;
}
.table-list:nth-child(3) td:nth-child(6) .icon{
    width: 16px;
    height: 16px;
    background: url(../images/chaozhi.png) no-repeat -193px -545px;
}