.content{
    background: #f8f8f8;
}
.content-top{
    line-height: 43px;
    font-size: 12px;
}
.content-top span{
    margin: 0 7px;
    color: #ccc;
}
.content-top a{
    color: #000;
} 
.left-content{
    width: 200px;
    border-top: 2px solid #f60;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    margin-bottom: 50px;
}
.one-list{                  /* 左边用户资料开始 */
    position: relative;
    padding: 15px 0 15px 85px;
    line-height: 20px;
    color: #333;
    font-size: 12px;
}
.userimg{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 12px;
}
.userimg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.xm{
    font-size: 14px;
}
.one-list a{
    color: #2e7dcd;
}
.one-list{
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
}
.content-title{                     
    line-height: 40px;
    padding-left: 12px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
    color: #333;;
}
.content-menu{
    line-height: 30px;
    padding: 6px 0 5px 43px;
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
    font-size: 12px;
}
.content-menu a{
    color: #666;
}
.content-menu .color-f60{           /* 订单管理的颜色 */
    color: #f60;
}
.list-icon{                         /* 左边列表的小图标 */
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    width: 17px;
    height: 19px;
    background: url(../images/chaozhi.png) no-repeat -193px -280px;
}
.wdzc{
    background: url(../images/chaozhi.png) no-repeat -193px -393px;
}
.grzx{
    background: url(../images/chaozhi.png) no-repeat -193px -656px;
}
.yqytc{
    background: url(../images/chaozhi.png) no-repeat -193px -889px;
}
.ywyh{
    background: url(../images/chaozhi.png) no-repeat -193px -973px;
}
a:hover{
    color: #f60;
}                                 /* 左边content结束 */
.right-content{
    width: 970px;
    border: 1px solid #ddd;
}
.right-content h1{
    font-size: 16px;
    color: #333;
    line-height: 39px;
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
}
.grzl_box{
    padding: 0 20px;
    background: #fff;
}
.grzl_box_top{
    border-bottom: 1px solid #ddd;
    padding: 30px 0 40px;
}
.grzl_box_top .lside{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 634px;
    border-right: 1px dotted #ddd;
}
.grzl_box_top img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 20px 0 10px;
}
.grzl_box_top .lside ul{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 25px;
}
.grzl_box_top .lside .icon{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url(../images/tubiaoji.png) no-repeat -116px -309px;
}
.grzl_box_top .lside span{
    margin-left: 28px;
}
.grzl_box_top .lside a{
    color: #3b83cb;
}
.grzl_box_top .rside{
    display: inline-block;
    vertical-align: top;
    padding-left: 48px;
    font-size: 0;
}
.grzl_box_top .rside li:first-child{
    font-size: 14px;
    color: #333;
    margin-bottom: 6px;
}
.grzl_box_top .rside li{
    font-size: 12px;
    color: #999;
    line-height: 22px;
}
.grzl_box_top .rside ul{
    display: inline-block;
    vertical-align: top;
}
.grzl_box_bot ul{
    font-size: 0;
}
.grzl_box_bot .lside{
    display: inline-block;
    width: 130px;
    text-align: right;
    font-size: 14px;
}
.xingming input{
    width: 260px;
    height: 28px;
    border: 1px solid #ddd;
}
.xingming .icon{
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 16px;
    margin: 0 2px 0 8px;
    background: url(../images/tubiaoji.png) no-repeat -117px -371px;
}
.xingming a{
    font-size: 12px;
    color: #3b83cb;
    vertical-align: middle;
}
.jiaxiang .btn{
    position: relative;
    width: 123px;
    height: 30px;
    border: 1px solid #ddd;
    text-align: left;
    text-indent: 12px;
    background: #fff;
    font-size: 14px;
    margin-right: 10px;
}
.grzl_box_bot .xsjiao{
    display: block;
    position: absolute;
    top: 12px;
    right: 12px; 
    width: 0;
    height: 0;
    border: 4px solid;
    border-color: #f60 transparent transparent;
}
.grzl_box_bot .ssjiao{
    display: none;
    position: absolute;
    top: 7px;
    right: 12px; 
    width: 0;
    height: 0;
    border: 4px solid;
    border-color: transparent transparent #f60 ;
}
.xingbie{
    font-size: 14px;
}
#girl{
    margin-left: 35px;
}
.birthday{
    font-size: 0;
}
.birthday .btn{
    vertical-align: middle;
    width: 65px;
    height: 30px;
    font-size: 12px;
    background: #fff;
    border: 1px solid #ddd;
    text-align: left;
    text-indent: 10px;
}
.birthday .date{
    font-size: 14px;
    vertical-align: middle;
    margin: 0 10px;
}