.main{
    margin: 0 auto;
    width: 1190px;
}
.top{
    height: 50px;
    background: url(../images/top.png) no-repeat 50% 50%;
    border-bottom: 1px solid #fdb400;
}
.top-menu{
    height: 22px;
    background-color: #fff;
    border-bottom: 1px solid #ffd697;
}
.top-menu ul{
    float: right;
}
.top-menu li{
    float: left;
    line-height: 22px;
    font-size: 12px;
    margin-left: 23px;
    color: #dd9;
}
.top-menu a{
    color: #dd9;
}
.top-nav{
    border-top: 1px solid #ffd697;
    background: #f7f8f2;
    text-align: center;
}
.top-nav div{
    background: url(../images/top_left_logo.png) no-repeat top left,url(../images/top_right_logo.png) no-repeat top right;  
}
.top-nav ul{
    display: inline-block;
    line-height: 60px; 
}
.top-nav li{
    display: inline;
    position: relative;
}
.top-nav a{
    font-size: 12px;
    color: #ffd697;
    margin: 0 16px;
}
.top-nav li+li{
    border-left: 1px solid #ccc;
}
.top-nav .tips_icon{
    width: 30px;
    height: 18px;
    background: url(../images/chaozhi.png) no-repeat -192px -146px;
    position: absolute;
    top:-18px;
    left: 16px;
}
footer{
    background-color: #f8f8f8;
}
.footer_link{
    border-top: 1px solid #d1d1d1;
    text-align: center;
    padding: 16px 0 30px;
}
.footer_link span{
    margin-left: 10px;
    margin-right: 14px;
}