.content{
    background: #f8f8f8;
}
.content-top{
    line-height: 43px;
    font-size: 12px;
}
.content-top span{
    margin: 0 7px;
    color: #ccc;
}
.content-top a{
    color: #000;
} 
.left-content{
    width: 200px;
    border-top: 2px solid #f60;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    margin-bottom: 50px;
}
.one-list{                  /* 左边用户资料开始 */
    position: relative;
    padding: 15px 0 15px 85px;
    line-height: 20px;
    color: #333;
    font-size: 12px;
}
.userimg{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 12px;
}
.userimg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.xm{
    font-size: 14px;
}
.one-list a{
    color: #2e7dcd;
}
.one-list{
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
}
.content-title{                     
    line-height: 40px;
    padding-left: 12px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
    color: #333;;
}
.content-menu{
    line-height: 30px;
    padding: 6px 0 5px 43px;
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
    font-size: 12px;
}
.content-menu a{
    color: #666;
}
.content-menu .color-f60{           /* 订单管理的颜色 */
    color: #f60;
}
.list-icon{                         /* 左边列表的小图标 */
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    width: 17px;
    height: 19px;
    background: url(../images/chaozhi.png) no-repeat -193px -280px;
}
.wdzc{
    background: url(../images/chaozhi.png) no-repeat -193px -393px;
}
.grzx{
    background: url(../images/chaozhi.png) no-repeat -193px -656px;
}
.yqytc{
    background: url(../images/chaozhi.png) no-repeat -193px -889px;
}
.ywyh{
    background: url(../images/chaozhi.png) no-repeat -193px -973px;
}
a:hover{
    color: #f60;
}                                 /* 左边content结束 */
.right-content{
    width: 970px;
}
.dingdan-menu{
    position: relative;
    font-size: 0;
    line-height: 1;
    border-bottom: 2px solid #ddd;
}
.dingdan-menu a{
    display: inline-block;
    vertical-align: top;
    padding: 0 20px 12px;
    font-size: 16px;  
    color: #333;
}
.dingdan-menu .color-f60{
    color: #f60;
}
.dingdan-menu span{
    font-size: 16px;
}
.hengxian{
    position: absolute;
    top: 28px;
    left: 0;
    width: 89px;
    height: 2px;
    background: #f60;
}
.zhifubao-box{
    border: 1px solid #ddd;
    background: #fff;
    font-size: 0;
    margin-top: 19px;
    padding: 30px 0
}
.zhifubao-box .lside,.zhifubao-box .rside{
    display: inline-block;
}
.zhifubao-box .lside{
    width: 150px;
    text-align: right;
    font-size: 14px;
    color: #333;
}
.zhifubao-box li{
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
}
.zhifubao-box li:last-child{
    margin-bottom: 0;
}
.zhifubao-box .lside span{
    color: #f00;
    position: relative;
    top: 3px;
    padding-right: 5px;
}
.zhifubao-box .rside{
    font-size:14px;
}
.zhifubao-box .rside .icon{
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 0 5px;
    width: 16px;
    height: 28px;
    background: url(../images/tubiaoji.png) no-repeat -117px -329px;
}
.rside input{
    width: 260px;
    line-height: 28px;
    border: 1px solid #ddd;
    text-indent: 12px;
}
.btn-yzm{
    background: #ecf5fe;
    border: 1px solid #dbeaf9;
    color: #2e7dcd;
    line-height: 28px;
    font-size: 12px;
    width: 102px;
    margin-left: 76px;
}
.btn-bc{
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    width: 87px;
    background: #f60;
    margin-left: 150px;
    border: none;
}
.yinhang-box{
    padding: 31px 0 10px 39px;
    margin-top: 19px;
    background: #fff;
    font-size: 0;
}
.yinhang-box li{
    width: auto;
    margin-bottom: 20px;
}
.yinhang-box li:last-child{
    margin-bottom: 0;
}
.yinhang-box li:first-child{
    font-size: 12px;
    width: 378px;
    color: #ff5756;
    line-height: 30px;
    background: #fff9ef;
    border: 1px solid #fae7c7;
    padding-left: 12px;
}
.yinhang-box .lside,.yinhang-box .rside{
    display: inline-block;
}
.yinhang-box .lside{
    width: 130px;
    font-size: 14px;
}
.yinhang-box .rside{
    font-size: 14px;
}
.yinhang-box .lside span{
    color: #f00;
    position: relative;
    top: 3px;
    padding-right: 5px;
}
.yinhang-box .yhk .rside{
    position: relative;
    width: 248px;
    height: 28px;
    line-height: 30px;
    border: 1px solid #ddd;
    padding-left: 12px;
}
.yinhang-box .icon{
    display: block;
    width: 0;
    height: 0;
    border: 4px solid;
    border-color: #f60 transparent transparent;
    position: absolute;
    top: 12px;
    right: 12px;
}
.yinhang-box .btn-bc{
    margin-left: 134px;
}