*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header{
    width: 1556px;
    height: 136px;
}
header div.logo1{
    width: 1556px;
    height: 50px;
    background-image: url(../images/logo1.png);
    background-repeat: no-repeat;
}
header>ul{
    margin-left: 1100px;
}
header>ul::after{
    content: ".";
    height: 0;
    display: block;
    clear: both;
    overflow: hidden;
}
header>ul li{
    float: left;
    
}

header>ul li a{
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 18px;
}
header>div.nav{
    width: 1556px;
    height: 60px;
    background-color: #f7f8f2;
    border-top: 1px solid #ffd697;
    
}
header>div.nav>div.logo2{
    margin-left: 184px;
    width: 258px;
    height: 60px;
    background-image: url(../images/logo2.png);
    float: left;
}
header>div.nav>ul{
    float: left;
    margin-left: 18px;
}
header>div.nav>ul li{
    float: left;
    margin: 16px auto;
}
header>div.nav>ul li a{
    display: block;
    padding: 0 16px;
    font-size: 18px;
    text-decoration: none;
}
header>div.nav>ul li+li{
    border-left: 1px solid black;
}
header>div.nav div.logo3{
    width: 120px;
    height: 60px;
    background-image: url(../images/logo3.png);
    float: right;
}


/**  帮助中心 **/





/** 后台 **/
.oapages .box{

}

/** 订单页面 **/
.orderpages .box{

}

.orderpages .list{}
