.right_content_list{
    position: relative;
    border-bottom: 2px solid #ddd;
}
.right_content_list a{
    display: inline-block;
    padding: 0 20px;
    margin-bottom: 12px;
    color: #333;
}
.right_content_list a:hover{
    color: #f60;
}
.right_content_list .c_f60{
    color: #f60;
}
.hengxian{
    display: block;
    position: absolute;
    bottom: -2px;
    width: 104px;
    height: 2px;
    background: #f60;
}
.a_fptt{
    display: block;
    position: relative;
    width: 90px;
    line-height: 26px;
    padding-left: 36px;
    border: 1px solid #dfdfdf;
    background: #fff;
    font-size: 12px;
    text-align: left;
    border-radius: 3px;
    margin: 20px 0 12px;
    color: #333;
}
.a_fptt:hover{
    border-color: #ff9a00;
    color: #333;
}
.a_fptt .icon{
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 20px;
    top: 9px;;
    background: url(../images/tubiaoji.png) no-repeat -119px -510px;
}
.fb_box{
    padding: 0 20px;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 12px;
}
.fb_box a,.sjxx_box a{
    color: #3b83cb;
    padding-left: 12px;
}
.fb_box p{
    margin-top: 22px;
    line-height: 1;
    padding-bottom: 20px;
}
.fb_box p:first-child{
    border-bottom: 1px dotted #ddd;
}
.sjxx{
    width: 608px;
    border: 1px solid #ddd;
}
.sjxx .title{
    position: relative;
    font-size: 14px;
    color: #666;
    padding: 0 12px;
    border-bottom: 1px solid #ddd;
    line-height: 36px;
}
.sjxx .title .icon{
    display: block;
    position: absolute;
    top: 11px;
    right: 12px;
    width: 13px;
    height: 13px;
    background: url(../images/tubiaoji.png) no-repeat -128px -130px;
}
.sjxx_content{
    background: #fff;
    padding-top: 22px;
}
.sjxx_content .lside,.sjxx_content .rside{
    display: inline-block;
    vertical-align: middle;
}
.sjxx_content li{
    font-size: 0;
    padding-bottom: 20px;
}
.sjxx_content .lside{
    font-size: 14px;
    color: #333;
    width: 118px;
    text-align: right;
}
.sjxx_content .lside span{
    position: relative;
    top: 2px;
    left: -7px;
    color: #f00;
}
.sjxx_content .rside input{
    font-size: 14px;
    text-indent: 1em;
    width: 260px;
    height: 28px;
    border: 1px solid #ddd;
}
.sjxx_content .yjdq{
    width: 102px;
    height: 30px;
    padding-left: 12px;
    color: #999;
    font-size: 12px;
    background: #fff;
    text-align: left;
    border: 1px solid #ddd;
    margin-right: 10px;
}
.sjxx_content textarea{
    width: 324px;
    height: 68px;
    resize: none;
    border: 1px solid #ddd;
    font-size: 14px;
}
.sjxx_content .text{
    position: relative;
    top: 5px;
    color: #999;
    font-size: 12px;
    margin-left: 12px;
}
.sjxx_content .btn_next{
    width: 101px;
    height: 30px;
    color: #fff;
    background: #f60;
    font-size: 14px;
    border: none;
    margin-left: 118px;
    cursor: pointer;
    border-radius: 3px;
}
.sjxx_content .btn_next:hover{
    background: #ff9000;
}
.hengxian.sjxx{
    left: 104px;
    width: 104px;
}
.sjxx_box{
    border: 1px solid #ddd;
    padding: 0 20px;
    background: #fff;
}
.sjxx_box p{
    line-height: 53px;
    font-size: 12px;
}
.sjxx_box p+p{
    border-top: 1px dotted #ddd;
}
.sjxx_box .name{
    display: inline-block;
    width: 108px;
}
.sjxx_box .tel{
    display: inline-block;
    width: 122px;
}