.right-content .title{
    font-size: 16px;
    color: #333;
    padding-left: 20px;

    line-height: 40px;
    border: 1px solid #ddd;
}
.right-content .text{
    color: #999;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff;
    padding: 20px 20px 20px 19px;
}
.right-content .text span{
    color: #f30;
    font-size: 18px;
}
.right-content .text .btn{
    color: #fff;
    background: #f60;
    width: 90px;
    line-height: 28px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.right-content .text .btn:hover{
    background: #f90;
}
.lpk-list{
    border: 1px solid #ddd;
    border-bottom: none;
    line-height: 38px;
    background: #fff;
    margin-top: 20px;
    padding-left: 20px;
}
.lpk-list a{
    color: #333;
    font-size: 14px;
}
.lpk-list a:hover{
    color: #f60;
}
.lpk-list .color-f60{
    color: #f60;
}
.lpk-list span{
    padding: 0 19px;
}
.table-box{
    border: 1px solid #ddd;
    font-size: 12px;
    line-height: 37px;
    margin-bottom: 20px;
}
table{
    width: 100%;
}
tr{
    border-bottom: 1px dotted #ddd;
}
th{
    text-align: left;
    color: #999;
}
th:first-child{
    width: 168px;
}
th:nth-child(2),th:nth-child(3){
    width: 140px;
}
th:nth-child(4){
    width: 90px;
}
th:nth-child(5){
    width: 120px;
}
th:nth-child(6){
    width: 130px;
}
th:nth-child(7){
    width: 80px;
}
td{
    background: #fff;
    position: relative;
}
th:first-child,td:first-child{
    padding-left: 12px;
}
td:nth-child(2),td:nth-child(3){
    color: #f60;
}
td:nth-child(8) a{
    color: #3b83cb;
}
td:nth-child(8) a:hover+.tc-box{
    display: block;
}
.tc-box{
    display: none;
    position: absolute;
    top: -100px;
    left: -700px;
    width: 498px;
    border: 1px solid #ddd;
    z-index: 10;
}
.tc-txt{
    position: relative;
    padding: 0 12px;
    font-size: 14px;
    color: #666;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
    background: #f8f8f8;
}
.tc-txt span{
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 15px;
    height: 15px;
    background: url(../images/tubiaoji.png) no-repeat -127px -129px;
}
.tc-content{
    background: #fff;
    padding:15px 12px;
    line-height: 22px;
    font-size: 12px;
}