.content{
    background: #f8f8f8;
    padding-bottom: 36px;
}
.orderlist{
    background-color: #f8f8f8;
    line-height: 43px;
}
.orderlist span{
    margin: 0 8px;
    color: #ccc;
}
.orderlist a{
    font-size: 12px;
    color: #000;
}
.tx-txt{
    line-height: 40px;
}
.zhtx,.zhye{
    display: inline;
}
.zhtx{
    font-size: 16px;
    color: #333;
    padding-left: 20px;
    padding-right: 30px;
}
.zhye{
    font-size: 12px;
    color: #666;
}
.zhye span{             /* 100变色 */
    color: #f30;
}
.tx-content{
    background: #fff;
}
.lside{
    float: left;
    width: 210px;
    text-align: right;
    font-size: 14px;
    color: #333;
    line-height: 60px;
    padding-top: 15px;
}
.rside{
    float: left;
    text-align: left;
    font-size: 14px;
    color: #333;
    line-height: 60px;
    padding-top: 15px;
}