.content{
    background: #f8f8f8;
}
.content-top{
    line-height: 43px;
    font-size: 12px;
}
.content-top span{
    margin: 0 7px;
    color: #ccc;
}
.content-top a{
    color: #000;
} 
.tx-title{                                  /* 账户余额标题begin */
    line-height: 40px;
    color: #666;
    font-size: 12px;
    padding-left: 20px;
    border: 1px solid #ddd;
    border-bottom: none;
}
.tx-title strong{
    color: #333;
    font-size: 16px;
    padding-right: 30px;
}
.tx-title span{
    color: #f30;
}                                               /* 账户余额标题end */
.tx-content{                                    /* 提现列表begin */
    padding: 30px 0 50px;
    text-align: left;
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
}
.tx-content li{                     /* 为每一列拉开距离，清除间距 */
    font-size: 0;
    margin-bottom: 18px;
}
.tx-content .lside{                     /* 左边设置宽度 */
    display: inline-block;
    width: 210px;
    font-size: 14px;
    text-align: right;
    line-height: 28px;
}
.tx-content .rside{                     /* 为有单独文字的设置字体大小 */
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.first-low .btn{                        /* 第一行的按钮发送验证码 */
    font-size: 12px;
    margin-left: 60px;
    width: 104px;
    line-height: 28px;
    color: #2e7dcd;
    border: 1px solid #dbeaf9;
    background: #ecf5fe;
    cursor: pointer;
}
.second-low .yzm,.four-low .txje{               /* 文本输入框 */
    vertical-align: top;
    width: 260px;
    line-height: 28px;
    font-size: 14px;
    border: 1px solid #ddd;
    text-indent: 1em;
}
.second-low .rside{
    line-height: 28px;
}
.second-low .icon{                  /* 验证码不正确的icon */
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    width: 16px;
    height: 28px;
    background: url(../images/tubiaoji.png) no-repeat -117px -329px;
}
.three-low .tx-btn{                         /* 支付宝、银行卡提现按钮 */
    position: relative;
    display: inline-block;
    width: 360px;
    font-size: 14px;
    line-height: 44px;
    border: 2px solid #ddd;
    background: #fff;
    text-align: left;
    margin-right: 20px;
    cursor: pointer;
}
.three-low .tx-btn:hover{
    border-color: #ffcd5d;
}
.three-low .tx-btn:hover .icon{
    display: block;
}
.three-low .tx-btn-title{
    display: inline-block;
    width: 78px;
    line-height: 44px;
    background: #f8f8f8;
    text-align: center;
    border-right: 1px solid #f1f1f1;
    margin-right: 8px;
}
.three-low .icon{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 33px;
    height: 33px;
    background: url(../images/tubiaoji.png) no-repeat -107px -160px;
}
.three-low .tx-btn.active{
    border-color: #f90;
}
.three-low .tx-btn.active .icon{
    display: block;
    background-position: -107px -217px;
}
.color-f30{
    color: #f30;
}
.five-low{
    font-size: 14px;
    line-height: 1;
}
.six-low{                           /* 最后一行的提现按钮 */
    font-size: 0;
    margin-top: 30px;
    padding-left: 210px;
}
.six-low .a_tx{                 
    display: block;
    position: relative;
    width: 96px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #fff;
    margin-left: 36px;
    border: none;
    background: #f60;
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.six-low .icon{
    display: inline-block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    left: -36px;
    background: url(../images/tubiaoji.png) no-repeat #ff9000 -106px -269px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.six-low .a_tx:hover{
    background: #ff9000;
}
.six-low .a_tx:hover .icon{
    background: url(../images/tubiaoji.png) no-repeat #fb3 -106px -269px;
}
