.right-content h1{
    margin: 0;
    padding-left: 20px;
    font-size: 16px;
    line-height: 40px;
    border: 1px solid #ddd;
    border-bottom-color: #f1f1f1;
}
.zhye-title{
    padding: 19px 20px 20px 12px;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff;
    color: #999;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
}
.zhye-title .mid{
    display: inline;
}
.zhye-title .btn{
    background: #f60;
    color: #fff;
}
.zhye-title .btn:hover{
    background: #f90;
}
.zhye-title .color-f30{
    font-size: 18px;
}
.color-f30{
    color: #f30;
}
.color-333{
    color: #333;
}
.btn-box{
    padding: 20px 0 12px;
}                               /* 下拉列表开始 */
.dropdown{
    display: inline-block;
    position: relative;
    background: #fff;
    border: none;
    cursor: pointer;
}
.dropdown a{
    position: relative;
    display: block;
    width: 85px;
    line-height: 26px;
    text-align: left;
    padding-left: 12px;
    border: 1px solid #ddd;
    color: #333;
}
.dropdown a:hover{
    background: #ff8533;
}
.dropdown:hover ul{
    display: block;
}
.dropdown:hover>a{
    border-color: #ffcd5d;
}
.dropdown:hover .ssj{
    display: none;
}
.dropdown:hover .xsj{
    display: block;
}
.dropdown ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 20;
}
.dropdown ul a{
    border: none;
    background: #fff;
}
.ssj{                         /* 下拉列表鼠标未移到的橙色三角 */
    position: absolute;
    top: 11px;
    right: 5px;
    width: 0;
    height: 0;
    border-width:4px;
    border-style: solid;
    border-color: #f60 transparent transparent; 
}
.xsj{                       /* 下拉列表鼠标hove的橙色三角 */
    position: absolute;
    display: none;
    top: 7px;
    right: 4px;
    width: 0;
    height: 0;
    border-width:4px;
    border-style: solid;
    border-color: transparent transparent #f60; 
}
.btn-box input{
    height: 26px;
    border: 1px solid #ddd;
    position: relative;
    top: -1px;
}
.btn-cx{
    width: 60px;
    line-height: 28px;
    background: #3b83cb;
    font-size: 12px;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 3px;
}
.btn-cx:hover{
    background: #37b2eb;
}

table{
    width: 100%;
    text-align: left;
    font-size: 12px;
}

th{
    width: 25%;
    color: #999;
    line-height: 37px;
    border-bottom: 1px solid #ddd;
}
td{
    color: #333;
    line-height: 38px;
    background: #fff;
}
.tr{
    border-bottom: 1px dotted #ddd;
}
.table-box span{
    color: #f60;
}