.content{
    background: #f8f8f8;
}
.content-top{
    line-height: 43px;
    font-size: 12px;
}
.content-top span{
    margin: 0 7px;
    color: #ccc;
}
.content-top a{
    color: #000;
} 
.left-content{
    width: 200px;
    border-top: 2px solid #f60;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
.one-list{                  /* 左边用户资料开始 */
    position: relative;
    padding: 15px 0 15px 85px;
    line-height: 20px;
    color: #333;
    font-size: 12px;
}
.userimg{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 12px;
}
.userimg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.xm{
    font-size: 14px;
}
.one-list a{
    color: #2e7dcd;
}
.one-list{
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
}
.content-title{                     
    line-height: 40px;
    padding-left: 12px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 14px;
    color: #333;;
}
.content-menu{
    line-height: 30px;
    padding: 6px 0 5px 43px;
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
    font-size: 12px;
}
.content-menu a{
    color: #666;
}
.content-menu .color-f60{           /* 订单管理的颜色 */
    color: #f60;
}
.list-icon{                         /* 左边列表的小图标 */
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    width: 17px;
    height: 19px;
    background: url(../images/chaozhi.png) no-repeat -193px -280px;
}
.wdzc{
    background: url(../images/chaozhi.png) no-repeat -193px -393px;
}
.grzx{
    background: url(../images/chaozhi.png) no-repeat -193px -656px;
}
.yqytc{
    background: url(../images/chaozhi.png) no-repeat -193px -889px;
}
.ywyh{
    background: url(../images/chaozhi.png) no-repeat -193px -973px;
}
a:hover{
    color: #f60;
}                                 /* 左边content结束 */
.right-content{
    width: 970px;
}
.right-content h1{
    padding-left: 20px;
    font-size: 16px;
    line-height: 40px;
    border: 1px solid #ddd;
    border-bottom-color: #f1f1f1;
}
.zhye-title{
    padding: 19px 20px 20px 12px;
    border: 1px solid #ddd;
    border-top: none;
    background: #fff;
    color: #999;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
}
.zhye-title .mid{
    display: inline;
}
.zhye-title .btn{
    vertical-align: top;
    width: 60px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #f60;
    border-radius: 3px;
    border: none;
    color: #fff;
}
.zhye-title .btn:hover{
    background: #f90;
}
.zhye-title .color-f30{
    font-size: 18px;
}
.color-f30{
    color: #f30;
}
.color-333{
    color: #333;
}
.btn-box{
    padding: 20px 0 12px;
}                               /* 下拉列表开始 */
.dropdown{
    display: inline-block;
    position: relative;
    background: #fff;
    border: none;
}
.dropdown a{
    position: relative;
    display: block;
    width: 85px;
    line-height: 26px;
    text-align: left;
    padding-left: 12px;
    border: 1px solid #ddd;
    color: #333;
}
.dropdown a:hover{
    background: #ff8533;
}
.dropdown:hover ul{
    display: block;
}
.dropdown:hover>a{
    border-color: #ffcd5d;
}
.dropdown:hover .ssj{
    display: none;
}
.dropdown:hover .xsj{
    display: block;
}
.dropdown ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 20;
}
.dropdown ul a{
    border: none;
    background: #fff;
}
.ssj{                         /* 下拉列表鼠标未移到的橙色三角 */
    position: absolute;
    top: 11px;
    right: 12px;
    width: 0;
    height: 0;
    border-width:4px;
    border-style: solid;
    border-color: #f60 transparent transparent; 
}
.xsj{                       /* 下拉列表鼠标hove的橙色三角 */
    position: absolute;
    display: none;
    top: 7px;
    right: 12px;
    width: 0;
    height: 0;
    border-width:4px;
    border-style: solid;
    border-color: transparent transparent #f60; 
}
.btn-cx{
    width: 60px;
    line-height: 28px;
    background: #3b83cb;
    font-size: 12px;
    text-align: center;
    border: none;
    color: #fff;
    border-radius: 3px;
}
.btn-cx:hover{
    background: #37b2eb;
}
.table-box{
    border: 1px solid #ddd;
}
table{
    width: 100%;
    text-align: left;
    font-size: 12px;
}
th:first-child,td:first-child{
    padding-left: 12px;
}
th:first-child{
    width: 209px;
}
th:nth-child(2),th:nth-child(3){
    width: 200px;
}
th{
    color: #999;
    line-height: 37px;
    border-bottom: 1px solid #ddd;
}
td{
    color: #333;
    line-height: 38px;
    background: #fff;
}
tr:nth-child(2){
    border-bottom: 1px dotted #ddd;
}
.table-box span{
    color: #f60;
}